body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 12px;
  font-weight: bold;
  padding-left: 100px; 
}

.header-nav {
  display: flex;
  gap: 10px;
  padding-right: 100px;
  align-items: center;
}

.header-links {
  color: #e5e7eb;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3882f6;
}

.hero-div {
  display: flex;
  height: 250px;
  justify-content: space-between;
  background-color: #1f2937;
}

.hero-left {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.hero-left h2 {
  color: #f9faf8;
  font-size: 32px;
  margin: 0;
}

.hero-left p {
  color: #e5e7eb;
  font-size: 16px;
  margin: 0;
}

.hero-left button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 24px;
  width: 100px;
  border-radius: 12px;
}

.hero-left button:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.hero-right {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.hero-img img {
  width: 400px;
  height: 200px;
}

.info-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

.info-header h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.info-imgs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info-imgs img {
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 14px;
}

.info-img {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.info-img p {
  text-align: center;
  font-size: 14px;
}

.quote-sec {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  height: 105px;
  margin-top: 20px;
}

.quote {
  font-size: 18px;
  font-style: italic;
  margin: 20px 50px 0px 50px;
}

.quote-by {
  font-size: 22px;
  text-align: end;
  margin: 0px 100px 0 0;
}

.banner-sec {
  display: flex;
  height: 150px;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 6px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}

.banner-header {
  font-weight: 400;
  margin: 0;
}

.banner-text {
  font-weight: 100;
  margin: 0;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
}

.banner-button button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 1px solid #f9faf8;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 24px;
  width: 100px;
  border-radius: 12px;
}

.banner-button button:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
}